<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal de Encuentros Paranormales</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>

<h1>Bienvenido al Portal de Encuentros Paranormales</h1>
<nav>
    <ul>
        <li><a href="/miembros-equipos/crear">Crear Miembro y Equipo</a></li>
        <li><a href="/miembros">Ver Miembros</a></li>
        <li><a href="/encuentro">Ver Encuentros</a></li>
        <li><a href="/equipos">Ver Equipos</a></li>
        <li><a href="/encuentro/crear">Agregar Nuevo Encuentro</a></li>
    </ul>
</nav>

</body>
</html>
